* {
    font-family: 'Times New Roman', Times, serif;
}

.noto-sans {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.raleway {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .niramit-extralight {
    font-family: "Niramit", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .niramit-light {
    font-family: "Niramit", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .niramit-regular {
    font-family: "Niramit", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .niramit-medium {
    font-family: "Niramit", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .niramit-semibold {
    font-family: "Niramit", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .niramit-bold {
    font-family: "Niramit", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .niramit-extralight-italic {
    font-family: "Niramit", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .niramit-light-italic {
    font-family: "Niramit", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .niramit-regular-italic {
    font-family: "Niramit", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .niramit-medium-italic {
    font-family: "Niramit", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .niramit-semibold-italic {
    font-family: "Niramit", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .niramit-bold-italic {
    font-family: "Niramit", serif;
    font-weight: 700;
    font-style: italic;
  }
  