
$background: #FFF5EA;
$panel: #FFE3E1;
$generic: #FFd1D1;
$primaries: #FF9494;


$success: #306B34;
$failure: #92140C;
$warning: #F4D06F;
$analogous: #0075F2;
 


$night-theme: false;

@if $night-theme {
   

}